@using BankApps.Models;
@{
    ViewBag.Title = "EmployeeReport";
    Brank_InfomationEntities db = new Brank_InfomationEntities();
}

<h2>EmployeeReport</h2>
<form action="/BA/EmployeeReport" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
            <div class="col-md-4 col-md-offset-2 alert alert-info">
                <label class="form-control">Employee Branch</label>
                <select type="text" name="BranchId" id="BranchId">
                    <option value="0">Select a Branch..!!</option>
                    @foreach (var item in db.BranchInfoes)
                    {
                            <option value="@item.BranchId">@item.BranchName</option>
                     
                    }
                </select>
            </div>
            <div class="col-md-4 col-md-offset-2 alert alert-info">
                <label class="form-control">Employee Designation</label>
                <select type="text" name="DesignationId" id="DesignationId">
                    <option value="0">Select a Designation..!!</option>
                    @foreach (var item in db.DesignationInfoes)
                    {
                        
                            <option value="@item.DesignationId">@item.DesName</option>
                       
                    }
                </select>
            </div>
            <div style="text-align:center">
                <input style="text-align:center" type="submit" value="Generate Report " class="btn btn-danger" />
            </div>
                </div>
        </div>
    </div>
</form>
